@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

a,
button,
input,
select:active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}

p {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    font-weight: 400;
    color: #000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1200px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin-right: 30px;
    position: relative;
}

.navigation {
    width: 891px;
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 420px;
    display: flex;
    flex-wrap: wrap;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    font-style: normal;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 20px 17px 14px;
    display: block;
    position: relative;
    font-family: "PT Sans", sans-serif;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:focus {
    color: #756257;
    border: 3px solid #83B3D3;
    border-radius: 4px;
    padding: 20px 14px 14px;
}

.navigation-link-current::before {
    position: absolute;
    right: 15px;
    bottom: -6px;
    left: 15px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.navigation-user {
    max-width: 300px;
}

.navigation-user .navigation-link {
    max-width: 18px;
    max-height: 18px;
    padding: 24px 12px;
    margin-right: 5px;
    position: relative;
}

.navigation-search {
    position: absolute;
    right: 38px;
    top: 23px;
    bottom: 0;
    fill: #080505;
}

.navigation-heart {
    position: absolute;
    right: 27px;
    top: 24px;
    fill: #080505;
}

.navigation-search:hover {
    fill: #756257;
}

.navigation-search:active {
    fill: #756257;
    opacity: 0.3;
}

.navigation-search:focus {
    fill: #756257;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.navigation-heart:hover {
    fill: #756257;
}

.navigation-heart:active {
    fill: #756257;
    opacity: 0.3;
}

.navigation-heart:focus {
    fill: #756257;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.navigation-favorite {
    display: flex;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    right: -6px;
    top: 15px;
    background: #7DB54F;
    border-radius: 10px;
    margin-right: 20px;
}

.button {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    background: #756257;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.navigation-button {
    margin: 13px 0px 14px 0px;
    padding: 9px 34px;
    display: block;
}

.navigation-button:hover {
    background: #615048;
}

.navigation-button :active {
    background: #615048;
    opacity: 0.3;
}

.navigation-button:focus {
    background: #615048;
    border: 3px solid #83B3D3;
    border-radius: 4px;
    padding: 8px 31px;
}

.popover {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 300px;
    padding: 40px;
    font-family: "PT Sans", sans-serif;
    color: #333;
    background-color: #ffffff;
    min-height: 186px;
    box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
    display: none;
}

.popover-open {
    display: block;
}

.popover-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 70px;
}

.popover-cart {
    width: 420px;
}

.popover-cart .popover-close-button {
    padding-left: 44px;
    background-image: url("../images/icons/favorite.svg");
    background-repeat: no-repeat;
    background-position: 22px center;
}

.popover-content {
    height: 100%;
}

.popover-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
}

.cart-items-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cart-item {
    display: grid;
    grid-template-columns: 284px 56px;
}

.cart-item+.cart-item {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px dashed #595959;
}

.cart-item-title {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
}

.cart-item-price {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.cart-item .button {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.about {
    margin-top: -5px;
}

.about-welcome {
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.svg-welcome {
    padding-top: 51px;
    display: block;
    margin: 0 auto;
    margin-bottom: 11px;
}

.svg-gorgeous {
    display: block;
    margin: 0 auto;
    margin-bottom: 53px;
}

.svg-sedona {
    display: block;
    margin: 0 auto;
    padding-bottom: 83px;
}

.svg-down {
    position: absolute;
    top: 493px;
    right: 0;
    left: 160px;
    bottom: 0;
}

.about-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 31px;
}

.about-subtitle {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    margin-bottom: 79px;
}

.phototown {
    display: block;
}

.canyon {
    display: block;
}

.advantages-list {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
}

.advantages-item:nth-child(4) {
    background-color: #fff;
}

.advantages-item:nth-child(1) {
    background: #83B3D3;
}

.advantages-item:nth-child(7) {
    background: #83B3D3;
}

.advantages-item:nth-child(9) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-house {
    margin-top: 89px;
}

.advantages-burger {
    margin-top: 91px;
}

.advantages-box {
    margin-top: 85px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 23px;
}

.advantages-title-middle {
    margin-top: 19px;
    margin-bottom: 20px;
}

.title-number {
    margin-top: 97px;
    margin-bottom: 29px;
}

.title-bottom {
    margin-top: 97px;
    margin-bottom: 29px;
}

.advantages-number {
    color: #333333;
    text-transform: uppercase;
}

.advantages-description {
    color: #333333;
}

.description-middle {
    margin-bottom: 88px;
}

.description-bottom {
    margin-top: 32px;
    margin-bottom: 108px;
}

.description-blue {
    margin-top: 31px;
    margin-bottom: 82px;
}

.white {
    color: #FFFFFF;
}

.search {
    text-align: center;
    margin: 0 auto;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 91px;
    margin-bottom: 29px;
}

.search-subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 67px;
}

.search-button {
    border-radius: 10px;
    font-size: 20px;
    line-height: 36px;
    padding: 17px 150px;
    border: none;
    text-align: center;
    text-transform: uppercase;
}

.search-button:hover {
    background: #615048;
}

.search-button:active {
    background: #615048;
    color: rgba(255, 255, 255, 0.3);
}

.search-button:focus {
    border-radius: 10px;
    border: 3px solid #83B3D3;
    background: #615048;
}

.newsletter {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
    margin-top: 105px;
    padding-bottom: 94px;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 94px;
    margin: 0;
    margin-bottom: 29px;
}

.newsletter-subtitle {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 46px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-input {
    display: block;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0px 365px 0px 24px;
    cursor: pointer;
    border: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.newsletter-input:hover {
    background: #E6E6E6;
    opacity: 0.6;
}

.newsletter-input:focus {
    background: #E6E6E6;
    border: 3px solid #83B3D3;
    opacity: 0.6;
    outline: none;
}

.newsletter-input:disabled {
    box-shadow: none;
}

.newsletter-input input:focus:invalid {
    border: 2px solid #FF5757;
    opacity: 0.6;
    background: #FFFFFF;
}

.newsletter-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    border: none;
    padding: 17px 23px;
}

.newsletter-button:hover {
    background: #68A2CA;
    border-radius: 0px 10px 10px 0px;
}

.newsletter-button:active {
    background: #68A2CA;
    border-radius: 0px 10px 10px 0px;
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:focus {
    background: #68A2CA;
    border: 3px solid #756257;
    border-radius: 0px 10px 10px 0px;
}

.newsletter-catalog {
    margin-top: 49px;
}

.newsletter-catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.newsletter-catalog-subtitle {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-top: 46px;
    margin-bottom: 46px;
}

.newsletter-catalog-form {
    display: flex;
    justify-content: center;
    margin-bottom: 141px;
}

.page-footer {
    width: 1056px;
    margin: 0 auto;
    display: flex;
}

.footer-social {
    margin-right: auto;
    max-width: 120px;
    display: flex;
    margin-top: 42px;
    margin-bottom: 54px;
}

.footer-social p {
    margin: 0;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: auto;
}

.footer-social-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-social-link {
    fill: #83B3D3;
    cursor: pointer;
}

.footer-social-svg {
    position: relative;
    bottom: 7px;
}

.footer-social-svg:hover {
    fill: #83B3D3;
}

.footer-social-svg:active {
    fill: #83B3D3;
    opacity: 0.3;
}

.footer-social-link:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px;
}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    max-width: 360px;
}

.footer-phone-link {
    text-decoration: none;
    color: #000;
    margin-left: 7px;
    margin-top: 27px;
    margin-bottom: 40px;
    display: block;
}

.footer-phone-link:hover {
    color: #756257;
}

.footer-phone-link:active {
    color: rgba(117, 98, 87, 0.3);
}

.footer-phone-link:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px;
    color: #756257;
}

.footer-author {
    max-width: 115px;
    margin-top: 34px;
    margin-bottom: 45px;
    margin-left: auto;
}

.htmlacademy-link {
    display: block;
    height: 33px;
    position: relative;
    bottom: 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115px 32px;
    background-image: url(../images/htmlacademy.svg);
    fill: #000000;
}

.htmlacademy-link:hover {
    fill: #756257;
}

.htmlacademy-link:active {
    fill: #756257;
    opacity: 0.3;
}

.htmlacademy-link:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px;
    fill: #756257;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 62px 70px 70px 70px;
    border-radius: 30px;
    background: #FFFFFF;
}

.modal-auth {
    width: 575px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 55px;
    right: 68px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #F2F2F2;
    border: none;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-title {
    margin: 0;
    margin-bottom: 65px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
}

.form-section {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.form-label {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    margin-right: 49px;
}

.form-field {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    border: none;
    width: 420px;
    background: #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 0px 5px 17px;
}

.form-status {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
    margin-top: -10px;
    margin-bottom: 10px;
}

.form-status-error {
    color: #FF5757;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-wrapper-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-control-datepocker {
    position: absolute;
    padding: 0;
    top: 16px;
    right: 17px;
    width: 15px;
    height: 15px;
    border: none;
    fill: rgba(0, 0, 0, 0.3);
    background-image: url("../images/icons/data.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.form-field-counter {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    width: 133px;
    position: relative;
}

.form-field-counter::-webkit-outer-spin-button,
.form-field-counter::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.form-section-counters {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.form-group-counter {
    display: flex;
    position: relative;
}

.title-adults {
    margin-right: 25px;
}

.title-children {
    margin-left: 58px;
}

.wrapper-counter {
    display: flex;
    position: relative;
}

.wrapper-step {
    position: relative;
}

.adults-stepdown-svg {
    position: absolute;
    top: 23px;
    left: 20px;
    width: 13px;
    height: 1px;
    border: none;
    background-image: url("../images/icons/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.adults-stepup-svg {
    position: absolute;
    top: 16px;
    left: 105px;
    width: 13px;
    height: 13px;
    border: none;
}

.children-stepdown-svg {
    position: absolute;
    top: 23px;
    right: 105px;
    width: 13px;
    height: 1px;
    border: none;
}

.children-stepup-svg {
    position: absolute;
    top: 17px;
    right: 18px;
    width: 13px;
    height: 13px;
    border: none;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    margin-top: 11px;
    margin-left: 112px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #83B3D3;
    cursor: pointer;
}

.tooltip-toggle {
    border: none;
    padding: 0;
    margin: 0;
    top: 10px;
    left: 12px;
    display: block;
    position: absolute;
    cursor: pointer;
}

.tooltip-icon {
    position: relative;
    width: 100%;
    height: 100%;
    top: -3px;
    left: 0;
    fill: #fff;
    display: block;
    cursor: pointer;
}

.tooltip-text {
    background-color: #333333;
    border-radius: 10px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    padding: 15px 18px 18px 22px;
    border-radius: 8px;
    display: block;
    width: 256px;
    position: absolute;
    top: 100%;
    margin-top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
}

.tooltip-text:after {
    content: '';
    background-image: url("../images/icons/corner.svg");
    width: 19px;
    height: 9px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
    display: block;
}

.form-button {
    background: #83B3D3;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    padding: 10px 253px;
    border: none;
    cursor: pointer
}

.form-button:hover {
    background: #68A2CA;
}

.form-button:focus {
    background: #68A2CA;
    border: 3px solid #756257;
}

.form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #68A2CA;
}

.filter-product {
    color: #fff;
    background-image: url(../images/catalog-background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 1200px;
    margin: -5px auto;
}

.filter-container {
    width: 1056px;
    margin: 0 auto;
    padding: 0;
}

.filter-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    padding-top: 35px;
    margin: 0;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -7px;
    margin-bottom: 45px;
}

.breadcrumbs-link {
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 22px;
    cursor: pointer;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.breadcrumbs-link:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.breadcrumbs-arrow {
    fill: #FFFFFF;
    opacity: 0.3;
    position: relative;
    top: 8px;
    right: 10px;
}

.filter-form {
    display: flex;
}

.filter-form-group {
    border: 0 none;
    margin: 0;
    padding: 0;
    margin-bottom: 71px;
    margin-right: 68px;
}

.filter-form-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.filter-form-item {
    line-height: 23px;
    margin-bottom: 13px;
}

.filter-form-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.control {
    position: relative;
    display: block;
    padding-left: 39px;
    cursor: pointer;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.control-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #FFFFFF;
}

.control-checkbox:disabled+.control-checkmark {
    border-color: #242424;
}

.control-label {
    font-weight: 700;
}

.control:hover .control-mark {
    background: rgba(255, 255, 255, 0.6);
}

.control:hover .control-checkmark {
    background: rgba(255, 255, 255, 0.6);
}

.control-input:disabled+.control-mark {
    border-color: #242424;
}

.control:focus .control-mark {
    background: rgba(255, 255, 255, 0.6);
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.control:active .control-checkmark {
    background: rgba(255, 255, 255, 0.3);
}

.control:focus .control-checkmark {
    background: rgba(255, 255, 255, 0.6);
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.control:active .control-mark {
    background: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    background: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control-checkbox[type="checkbox"]:checked+.control-checkmark::before {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 4px;
    content: "";
    background: url(../images/icons/check-mark.svg) #FFFFFF no-repeat center;
}

.range {
    display: flex;
    flex-direction: column;
    margin-left: 97px;
}

.range-title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 1px;
    margin-bottom: 34px;
    padding: 0;
}

.range-scale {
    position: relative;
    height: 4px;
    margin-top: 25px;
    background: rgb(255, 255, 255, 0.3);
    display: flex;
}

.range-bar {
    position: absolute;
    height: 4px;
    background: rgb(255, 255, 255);
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
    background: #FFFFFF;
    border: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
    top: -8px;
    left: -10px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
}

.catalog-filter-label {
    display: flex;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.left {
    border-radius: 4px 0px 0px 4px;
    width: 144px;
}

.right {
    border-radius: 0px 4px 4px 0px;
    width: 144px;
}

.range-input {
    width: 40px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    padding: 11px 17px;
    line-height: 23px;
    appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-span {
    display: block;
    line-height: 23px;
    text-align: right;
    opacity: 0.3;
    color: #FFFFFF;
    padding: 12px 14px 13px 0;
    margin-left: auto;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 60px;
}

.filter-button-submit {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: #83B3D3;
    border-radius: 4px;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: 15px 29px;
    border: none;
    cursor: pointer;
}

.filter-button-submit:hover {
    background: #68A2CA;
}

.filter-button-submit:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.filter-button-submit:focus {
    background: #68A2CA;
    border: 3px solid #FFFFFF;
}

.filter-button-reset {
    line-height: 23px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border: none;
    cursor: pointer;
}

.filter-button-reset:hover {
    opacity: 0.6;
}

.filter-button-reset:active {
    opacity: 0.3;
}

.filter-button-reset:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.inner-container {
    width: 1056px;
    margin: 0 auto;
}

.sorting-wrapper {
    display: flex;
}

.sorting-title {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: auto;
    margin-top: 55px;
}

.select-control {
    width: 287px;
    padding: 8px 94px 12px 16px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 130px;
    border-radius: 4px;
    border: 2px solid #E6E6E6;
    line-height: 23px;
    color: #333333;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    appearance: none;
    background: url(../images/icons/arrow-down.svg) no-repeat center right 18px;
    fill: #000000;
    cursor: pointer;
    display: block;
}

.select-control:hover,
.select-control:focus {
    border: 2px solid #83B3D3;
}

.select-control:active {
    border: 2px solid #E6E6E6;
    color: rgba(51, 51, 51, 0.3);
}

.sorting-list {
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    margin: 0;
    margin-top: 65px;
    margin-left: auto;
    list-style-type: none;
    padding: 0;
}

.sorting-button {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 2px solid #E6E6E6;
    padding: 12px 16px;
}

.sorting-button:hover,
.sorting-button:focus {
    border: 2px solid #83B3D3;
}

.sorting-current {
    border: 2px solid #000000;
}

.sorting-button:nth-child(3n) {
    margin-right: 0;
}

.catalog {
    margin-top: 53px;
}

.product-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 2px;
    margin: 0;
    margin-top: 31px;
}

.product-card {
    width: 300px;
    margin-right: 18px;
    margin-bottom: 28px;
}

.product-card:nth-child(3n) {
    margin-right: 0;
}

.protuct-card-image:hover {
    opacity: 0.6;
}

.protuct-card-image:active {
    opacity: 0.3;
}

.protuct-card-image:focus {
    border: 3px solid #83B3D3;
}

.product-card-link {
    text-decoration: none;
}

.product-card-link:visited {
    color: #000000;
}

.product-card-link:hover {
    color: #756257;
}

.product-card-link:active {
    color: rgba(117, 98, 87, 0.3);
}

.product-card-title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    margin-top: 13px;
    margin-bottom: 15px;
}

.terms-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-card-type {
    color: #333333;
    line-height: 23px;
}

.product-card-price {
    color: #333333;
    line-height: 23px;
    width: 143px;
    padding-right: auto;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    word-spacing: 2px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.protuct-card-button {
    line-height: 21px;
    padding: 8px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.protuct-card-button:hover {
    background: #615048;
}

.protuct-card-button:active {
    background: #615048;
    color: rgba(255, 255, 255, 0.3);
}

.protuct-card-button:focus {
    background: #615048;
    border: 3px solid #83B3D3;
}

.protuct-card-button-blue {
    background: #83B3D3;
    padding: 8px 21px;
}

.protuct-card-button-blue:hover {
    background: #68A2CA;
}

.protuct-card-button-blue:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.protuct-card-button-blue:focus {
    background: #68A2CA;
    border: 3px solid #756257;
}

.protuct-card-button-falorite {
    background: #7DB54F;
    text-align: center;
    padding: 8px 18px;
}

.protuct-card-button-falorite:hover {
    background: #6C9E42;
}

.protuct-card-button-falorite:active {
    background: #6C9E42;
    color: rgba(255, 255, 255, 0.3);
}

.protuct-card-button-falorite:focus {
    background: #6C9E42;
    border: 3px solid #756257;
}

.rating-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.rating-wrapper:not(:last-child) {
    margin-bottom: 0;
}

.rating-form {
    display: flex;
    align-items: center;
}

.rating-star:not(:last-child) {
    margin-right: 5px;
}

.rating-value {
    background: #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 9px 35px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-left: auto;
}

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
}

.pagination-button {
    font-size: 20px;
    line-height: 26px;
    background: #83B3D3;
    display: block;
    margin: 30px auto;
    padding: 17px 238px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
}

.pagination-line {
    display: flex;
    border: 1px solid #E6E6E6;
    background: #E6E6E6;
}

.pagination-button:hover {
    background: #68A2CA;
}

.pagination-button:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-button:focus {
    background: #68A2CA;
    border: 3px solid #756257;
}

.pagintation-list {
    width: 450px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    text-align: center;
    margin-top: 28px;
    padding: 0;
}

.pagination-item {
    max-width: 55px;
    height: 55px;
    background: #83B3D3;
    border-radius: 4px;
    padding: 1px 22px;
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.pagination-item:hover {
    background: #68A2CA;
}

.pagination-item:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-item:focus {
    background: #68A2CA;
    border: 3px solid #756257;
}

.pagination-current {
    background: #F2F2F2;
    border-radius: 4px;
    color: #000;
}

.pagination-current:hover {
    background: #F2F2F2;
}

.pagination-title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-right: 47px;
}

.pagination-select {
    line-height: 23px;
    color: #333333;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    margin-top: 32px;
    margin-left: auto;
    padding: 10px 121px 10px 14px;
    cursor: pointer;
    appearance: none;
    background: url(../images/icons/arrow-down.svg) no-repeat center right 19px;
}

.pagination-select:hover {
    border: 2px solid #83B3D3;
}

.pagination-select:active {
    border: 2px solid #E6E6E6;
    color: rgba(51, 51, 51, 0.3);
}

.pagination-select:focus {
    border: 2px solid #83B3D3;
}
